:root
  --primary: #fe3873
  --secondary: #f9ba9a
  --grey-100: #121212
  --grey-80: #4c4c4c
  --grey-60: #868686
  --grey-40: #c2c2c2
  --grey-20: #e5e5e5
  --light: #f4f4f4
  --faded: #f9f9f9
  --white: #ffffff
  --black: #000000
